<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://aquaculture.thinkmonkey.ca</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>aquaculture.thinkmonkey.ca</MSDeployServiceURL>
    <DeployIisAppPath>aquaculture.thinkmonkey.ca</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>thinkmonkey</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DatabaseContext" Order="1" Enabled="False">
          <Destination Path="Data Source=184.168.47.15;Initial Catalog=aquaculture_lab;Integrated Security=False;User ID=aquaculture_user;Password=Welcome001;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False" Name="Data Source=184.168.47.15;Initial Catalog=aquaculture_lab;Integrated Security=False;User ID=aquaculture_user;Password=Welcome001;MultipleActiveResultSets=True;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="AquaCultureMonitor.Core.Repositories.DatabaseContext, AquaCultureMonitor.Core" MigrationConfiguration="AquaCultureMonitor.Core.Migrations.Configuration, AquaCultureMonitor.Core" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DatabaseContext-Web.config Connection String">
      <ParameterValue>Data Source=184.168.47.15;Initial Catalog=aquaculture_lab;Integrated Security=False;User ID=aquaculture_user;Password=Welcome001;MultipleActiveResultSets=True;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>