body {
    background: #f9f9f9;
    padding: 10px;
}

body { padding-top: 70px; }


.fa-container {
    position: relative;
    border:1px solid black;
    height: 200px;
    width: 200px;
    overflow: hidden;
}

.fa-background {
    position: absolute;
    top: -15px;
    left: -20px;
}

.fa-content {
    padding: 10px;
    font-size: 16pt;
}

.sensor-online {
    color: green;
}

.sensor-error {
    color: orange;
}